@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap");
.secondary {
  color: #ffff00;
}

@keyframes drive {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(2500px);
  }
}
.my-projects {
  font-family: "Anton", sans-serif;
}

.github {
  color: #fff;
}
.github:hover {
  color: #ffff00;
  text-decoration: none;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #000;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.contact-me {
  text-align: center;
  font-family: "Anton", sans-serif;
}

#number-email {
  text-align: center;
}

.form-style-6 {
  font-family: "Abel", sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
}
.form-style-6 h1 {
  background: #333;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.form-style-6 input[type=text],
.form-style-6 input[type=date],
.form-style-6 input[type=datetime],
.form-style-6 input[type=email],
.form-style-6 input[type=number],
.form-style-6 input[type=search],
.form-style-6 input[type=time],
.form-style-6 input[type=url],
.form-style-6 textarea,
.form-style-6 select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type=text]:focus,
.form-style-6 input[type=date]:focus,
.form-style-6 input[type=datetime]:focus,
.form-style-6 input[type=email]:focus,
.form-style-6 input[type=number]:focus,
.form-style-6 input[type=search]:focus,
.form-style-6 input[type=time]:focus,
.form-style-6 input[type=url]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px #333;
  padding: 3%;
  border: 1px solid #333;
}
.form-style-6 input[type=submit],
.form-style-6 input[type=button] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #333;
  border-bottom: 2px solid #333;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.form-style-6 input[type=submit]:hover,
.form-style-6 input[type=button]:hover {
  background: #000;
}

#social {
  text-align: center;
}
#social i {
  color: #fff;
  font-size: 2em;
}
#social i:hover {
  color: #ffff00;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Abel", sans-serif;
}

.title {
  font-family: "Anton", sans-serif;
  font-size: 4em;
}

.main {
  margin-top: 10vh;
}

.navbar a {
  color: #fff;
  font-size: 1.5em;
}
.navbar a:hover {
  color: #ffff00;
}
.navbar .my-logo {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.work-contact {
  list-style: none;
}
.work-contact li {
  margin-right: 10px;
}
.work-contact a {
  border-bottom: 2px solid #ffff00;
  color: white;
  text-decoration: none;
}

.container-skills {
  width: 100%;
  background-color: #333;
  border-radius: 4px;
}
.container-skills .skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}
.container-skills .html {
  width: 90%;
  background-color: #ff4c1e;
}
.container-skills .css {
  width: 75%;
  background-color: #0074bc;
}
.container-skills .js {
  width: 70%;
  background-color: #fba920;
}

#marioDrive {
  position: absolute;
  left: -117px;
  animation-name: drive;
  animation-duration: 6s;
}

#luigiDrive {
  position: absolute;
  left: -120px;
  bottom: 50px;
  animation-name: drive;
  animation-duration: 7s;
}

/*# sourceMappingURL=index.css.map */
