//font sizes and font-families
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap");

// colors
$bg-color: #3e6b89;
$card-bg-color: #083D77;
$primary-color: #F7F7FF;
$secondary-color: #FF9F1C;
$html-bar-color: #FF9F1C;
$css-bar-color: #FF9F1C;
$js-bar-color: #FF9F1C;

// font sizes font family
$header-font-size: 4em;
$paragraph-font-size: 2em;
$header-font: "Anton", sans-serif;
$paragraph-font: "Abel", sans-serif;

// span color
.secondary {
    color: $secondary-color;
  }

//mario luigi config
@keyframes drive {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(2500px);
    }
}
// make the title dance
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
