.my-projects {
  font-family: $header-font;
}
.projects {
    margin-top: 20vh;
    & h5 {
      font-family: $header-font;
    }
    & img {
      width: 300px;
      height: 250px;
      border-radius: 5px;
    }
  }
  
  .github {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }