.projects {
    margin-top: 20vh;
    & img {
      width: 300px;
      height: 250px;
      border-radius: 5px;
    }
    & div:hover {
      transform: scale(1.1);
    }
  }
  
  h5 {
    color: $primary-color;
  }
  .github {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      text-decoration: none;
    }
  }