@import "config";
@import "projects";

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: $paragraph-font;
}

.title {
  font-family: $header-font;
  font-size: 4em;
}

.main {
  margin-top: 18vh;
}
.navbar {
  & a {
    color: $primary-color;
    font-size: 1.5em;
  }
  & a:hover {
    color: $secondary-color;
  }
  .my-logo {
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
}

.work-contact {
  list-style: none;
  & li {
    margin-right: 10px;
  }
  & a {
    border-bottom: 2px solid $secondary-color;
    color: white;
    text-decoration: none;
  }
}
//skills
.container-skills {
  width: 100%;
  background-color: #333;
  border-radius: 4px;
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
  }
  .html {width: 90%; background-color: #ff4c1e;}
  .css {width: 75%; background-color: #0074bc;}
  .js {width: 70%; background-color: #fba920;}
}
// mario luigi Konami Code
#marioDrive {
  position: absolute;
  left: -117px;
  animation-name: drive;
  animation-duration: 6s;
}
#luigiDrive {
  position: absolute;
  left: -120px;
  bottom: 50px;
  animation-name: drive;
  animation-duration: 7s;
}



