@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap");
.secondary {
  color: #e5e4e2;
}

@-webkit-keyframes drive {
  from {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  to {
    -webkit-transform: translate(2500px);
            transform: translate(2500px);
  }
}

@keyframes drive {
  from {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  to {
    -webkit-transform: translate(2500px);
            transform: translate(2500px);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.my-projects {
  font-family: "Anton", sans-serif;
}

.contact-me {
  text-align: center;
  font-family: "Anton", sans-serif;
}

body {
  background: url("https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?cs=srgb&dl=snow-top-mountain-under-clear-sky-1054218.jpg&fm=jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  background-color: #13293d;
  font-family: "Abel", sans-serif;
  color: #f7f7ff;
}

.title {
  font-family: "Anton", sans-serif;
  font-size: 4em;
}

.title:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.main {
  margin-top: 10vh;
}

.navbar a {
  color: #f7f7ff;
  font-size: 1.5em;
}

.navbar a:hover {
  color: #e5e4e2;
}

.navbar .my-logo {
  padding: 10px;
  border: 2px solid #f7f7ff;
  border-radius: 50%;
}

#marioDrive {
  position: absolute;
  left: -117px;
  -webkit-animation-name: drive;
          animation-name: drive;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

#luigiDrive {
  position: absolute;
  left: -120px;
  bottom: 50px;
  -webkit-animation-name: drive;
          animation-name: drive;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
/*# sourceMappingURL=index.css.map */