@import "config";
@import "projects";

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: $paragraph-font;
}

.title {
  font-size: 4em;
}

.main {
  margin-top: 25vh;
}
.navbar {
  & a {
    color: $primary-color;
  }
  & a:hover {
    color: $secondary-color;
  }
  .my-logo {
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
}

.secondary {
  color: $secondary-color;
}
.work-contact {
  list-style: none;
  & li {
    margin-right: 10px;
  }
  & a {
    border-bottom: 2px solid $secondary-color;
    color: white;
    text-decoration: none;
  }
}

/* projects page */

.projects {
  margin-top: 20vh;
  & img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
  }
  & div:hover {
    transform: scale(1.1);
  }
}

h5 {
  color: $primary-color;
}
.github {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}

