@import "config";
@import "projects";

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: $paragraph-font;
}

.title {
  font-family: $header-font;
  font-size: 4em;
}

.main {
  margin-top: 25vh;
}
.navbar {
  & a {
    color: $primary-color;
  }
  & a:hover {
    color: $secondary-color;
  }
  .my-logo {
    padding: 10px;
    border: 2px solid $primary-color;
    border-radius: 50%;
  }
}

.work-contact {
  list-style: none;
  & li {
    margin-right: 10px;
  }
  & a {
    border-bottom: 2px solid $secondary-color;
    color: white;
    text-decoration: none;
  }
}



